<!-- START footer component -->
<footer class="flex items-center justify-between flex-wrap container py-8">
  <div class="flex items-end text-black mr-6 box-content">
    <p>
      <small class="italic">have a pleasant view!</small>
      <br />
      <span class="text-xs"
        ><img
          draggable="false"
          class="twemoji"
          alt="a rock"
          src="/img/1faa8.svg"
        />
        U+1faa8 emoji graphic by Twitter (CC-BY 4.0)</span
      >
    </p>
  </div>
</footer>
<!-- END footer component -->
