<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "meta/metadata.njk" %}
    <link rel="stylesheet" href="/stylesheet.css" />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js"
      defer
    ></script>

  </head>
  <body class="gw-background">
    <a href="#content" class="sr-only focus:not-sr-only">Skip to content</a>
    {% include "components/header.njk" %}
    <main id="content" class="container">
      <!-- START page content -->
      {% block content %}
      <div class="lg:w-1/2 gw-plate">
        <h1 class="text-xl md:text-4xl font-semibold leading-loose">
          {{ title }}
        </h1>
        <div class="text-lg">
          {{ content | safe }}
        </div>
      </div>
      {% endblock %}
      <!-- END page content -->
    </main>
    {% include "components/footer.njk" %}
    <script src="/js/index.js" defer></script>
  </body>
</html>
