/* Groundwork custom components */
.gw-background {
  background-image: url('/img/1faa8.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.gw-plate {
  background-color: hsla(0, 100%, 100%, 0.5);
  border-radius: 12px;
  @apply p-8;
}

img.twemoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 0.07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}

span.link-chain::after {
  display: inline;
  content: '\0020\01F517';
}

span.link-chain > a {
  @apply break-all;
}
